.explore-by-genre {
  display: flex;
  flex-direction: column;
  background-color: rgb(10, 15, 28);
  overflow-x: hidden;
  height: 100vh;
  font-family: Poppins, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 16px;
}

.explore-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 32px;
  color: white;
  text-align: center;
}

.explore-main-content{
  margin: 0 auto;
}

.genre-section{
  align-items: center;
}

.genre-title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 12px;
  margin-left: 8px;
  color: #ffffff;
}

.movie-row {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 10px;
  padding-left: 10px;
  scroll-snap-type: x mandatory;
}

.explore-movie-card {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  position: relative;
  aspect-ratio: 2/3;
  width: 184px;
  padding-top: 0;
  cursor: pointer;
  transition: transform 0.2s;
  scroll-snap-align: start;
}

.movie-card:hover {
  transform: scale(1.03);
}

.explore-movie-image {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
}

.explore-movie-title {
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
  text-align: center;
  max-width: 100%;
  position: relative;
  padding: 16px;
  align-self: center;
  font-size: 20px;
  font-weight: 500;
  color: #e0e0e0;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}


.no-movies {
  color: #ccc;
  font-style: italic;
  margin-left: 12px;
  margin-bottom: 16px;
}

.genre-divider {
  height: 2px;
  width: 100vw;
  background: linear-gradient(to right, #333, #666, #333);
  margin: 20px 0;
  border-radius: 2px;
  opacity: 0.4;
}

